*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background: rgba(0, 0, 0, 0.829);
}
.home{
    max-width: 1300px;
    margin: 0 auto;
}
.home h1{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    color: #ffd700;
    font-size: 24px
}
.home p{
    text-align: center;
    align-items: center;
    color: rgb(230, 196, 3);

}
.home_center,.home_wraper{
    display: flex;
    margin: auto;
    gap: 30px;
    margin-top: 30px;
    justify-content: center;
}
.home_footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 30px;
}
button{
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
}
h2{
    font-weight: bold;
    color: wheat;
    border: none;
    
}
.footer_button_link{
    width: 300px;
    height: 400px;
}
.footer_button_link img{
    width: 280px;
    object-fit: contain;
}
.footer_button_nav{
    width: 300px;
    height: 400px;
}
.footer_button_nav img{
    width: 280px;
    object-fit: contain;
}
.hidden-card {
   width: 500px;
   height: 600px; 
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.616);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
    text-align: center;
    z-index: 1000;
}
.select{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
    padding: 10px 70px;
    background: #ffd700;
}
.input_number{
    padding: 10px 2vh;
    background: #ffd700;
}
.h_nav{

}
.a_nav{
    display: inline-block;
    padding: 10px 20px;
    background-color: blue;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top: 80px;
}
.a_nav:hover{
    background: red;
    border-radius: 30px;
}